#Database credentials
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

#Backup configuration
SLACK_ENABLED=
SLACK_CHANNEL=
SLACK_WEBHOOK_URL=

BACKUP_PROVIDER=aws
AWS_BUCKET_NAME=
AWS_BUCKET_BACKUP_PATH=
AWS_DEFAULT_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

K8S_NAMESPACE=
BACKUP_TIMESTAMP=_%Y_%m_%d_%H_%M